/LehenFXMLProiektua/target/
/JavaFXApplicationWithFXML/nbproject/private/
/UD0/First/nbproject/private/
/UD0/Ikasleak/build/
/UD0/Ikasleak/dist/
/UD0/Ikasleak/nbproject/private/
/UD0/Kalkulagailua/nbproject/private/
/UD0/Kalkulagailua/build/
/UD0/Kalkulagailua/dist/
/UD1/IOStreamTutoriala/nbproject/private/
/UD1/IOStreamTutoriala/dist/
/UD1/IOStreamTutoriala/build/
/UD1/CsvKontsola/nbproject/private/
/UD1/CsvKontsola/build/
/UD1/CsvKontsola/dist/
/UD0/Ikasleak - copia/build/
/UD0/Ikasleak - copia/nbproject/private/
/UD0/Ikasleak2/build/
/UD0/Ikasleak2/nbproject/private/
/UD0/Ikasleak2/dist/
/UD1/XmlFitxategiak/nbproject/private/
/UD1/XmlFitxategiak/build/
/UD1/XmlFitxategiak/dist/
/UD1/ KlaseBat/nbproject/private/
/UD1/ KlaseBat/build/
/UD1/JSONFitxategiak/nbproject/private/
/UD1/JSONFitxategiak/build/
/UD2/JdbcOinarrizkoMetodoak/nbproject/private/
/UD2/JdbcOinarrizkoMetodoak/build/
/UD2/Ikasleak3/build/
/UD2/Ikasleak3/nbproject/private/
/UD2/Ikasleak3/dist/
/UD2/IkasleakMariaDb/nbproject/private/
/UD2/IkasleakMariaDb/build/
/UD2/IkasleakMariaDb/dist/
/UD2/ORM-ChinookProiektua/nbproject/private/
/UD2/ORM-Mendiak-Netbeans/nbproject/private/
/UD2/ORM-Mendiak-Netbeans/build/
/UD2/ORM-Mendiak-Netbeans/dist/
/UD2/ORM-ChinookProiektua/build/
/UD2/ORM-ChinookProiektua/dist/
